{% load static %}
<script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
<script src="{% static '/assets/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static '/assets/js/simplebar.min.js' %}"></script>
<script src="{% static '/assets/js/apexcharts.min.js' %}"></script>
<script src="{% static '/assets/js/columnchart.init.js' %}"></script>
<script src="{% static '/assets/js/feather.min.js' %}"></script>
<script src="{% static '/assets/js/app-admin.js' %}"></script>



