{% load static %}
<link href="{% static '/assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
<!-- Icons -->
<link href="{% static '/assets/css/materialdesignicons.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static '/assets/css/remixicon.css' %}" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://unicons.iconscout.com/release/v3.0.6/css/line.css">
<!-- Css -->
<link href="{% static '/assets/css/style.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static '/assets/css/simplebar.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static '/assets/css/select2.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static '/assets/css/tiny-slider.css' %}" rel="stylesheet" type="text/css" />

